<footer class="well signature">
  <h6>&copy;2013 SFEI Systems Inc.; All Rights Reserved.</h6>
  <h6>Designed and Developed by <a href="http://isn.sfeisystems.net">SFEI Systems Inc.</a></h6>
  <p><a href="https://www.ingress.com" class="btn btn-primary"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAVCAYAAABPPm7SAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQxJREFUeNrMVNERgjAMLZ4DsIFsYDcANnADcQJxAkdQJsANdAN0Ah0BJ4AN8OXu1Su1COeXuXuXtCGvaZKi1N9I13VV15cGWBGN46tM3Nzh2QCRtd5TF9ZeDayHCCR4Czy4Dqljau2QfRAYKYIguCDVTBawT3IVmKX7oUtwBVrgjIAj9I31OUDlwI7ZxUNFTGhrp3Bia/oSu4gzX/5IWU5JmY0g5Z4au4ItJlhZejoBTqyRam3syQQIklZm7Peo+GoQcYCWvxBoy5a2JZ4YPfQWTOsyoPTNPX3vlvpIIuAO5DI8nI2Kvpy+qFdsD4nMf8WJe3J7wdRlHtqvBB4SNRQ89n8IzRVI+KfyEmAAKFvd3ye44RMAAAAASUVORK5CYII=">  Join the Resistance!</a></p>
</footer>